#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 0; */
    text-align: center;
}
.layout {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-image: url("assets/WhatsApp\ Image\ 2026-01-13\ at\ 6.56.39\ PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 100vh;
}
.navbar {
    /* text-align: left; */
    display: flex;
    justify-content: space-around;
    width: 900px;
    margin: 0 auto;
}
